.navbar {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  cursor: pointer;
  position: relative;

  &:hover {
    span {
      transform: translateY(-3px);
      transition: transform 0.3s;
      display: block;
    }
  }
}

.activeLink {
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
    bottom: 0;
    left: 0;
  }
}
